body{
    text-align: center;
    background-color: black;
}
h1{
    text-align: center;
    color: #ffae00;
    text-shadow: 3px 3px 5px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: auto 200px;
    padding: 7px;
    border-radius: 10px;
    background-color: #19557b;
}
a{
    text-decoration: none;
}
p{
    margin: auto 200px;
    padding: 7px;
    border-radius: 10px;
    background-color: #19557b;
}
.caja{
    margin: auto 220px;
    padding: 7px;
    border-radius: 10px;
    background-color: #ffffff;
}
header, div, footer{
    display: flex;
}